USE [master]
GO
/****** Object:  Database [J3LP0004_DigitalNews]    Script Date: 2/25/2021 9:57:58 AM ******/
CREATE DATABASE [J3LP0004_DigitalNews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3LP0004_DigitalNews', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\J3LP0004_DigitalNews.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J3LP0004_DigitalNews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\J3LP0004_DigitalNews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3LP0004_DigitalNews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3LP0004_DigitalNews]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 2/25/2021 9:57:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [ntext] NOT NULL,
	[image] [varchar](255) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[createdDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
